body {
    padding: 0px;
    margin: 0px;
}

#gameView {
    position: absolute;
    margin: 0px;
    padding: 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.hidden {
    display: none;
}