<Doctype html>
<html>
<head>
    <title>Serveur Herlya</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
    <canvas id="gameView" width="1280" height="720"></canvas>

    <div id="toLoad" class="hidden">
        <img src="/assets/svg/perso.svg" />
    </div>

<!-- Frontend JavaScripts -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="/assets/js/main.js" ></script>
</body>
</html>